<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <title>ToDo</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="app">
    <div class="wrapper">
      <h1>ToDo in VueJs</h1>
      <div class="list__item">
        <input v-model="new_task.title" class="inp" type="text" placeholder="введите заголовок">
        <input v-model="new_task.desc" class="inp" type="text" placeholder="введите описание задачи">
        <button @click="add()" class="add">add</button>
      </div>

      <ul class="list">
        <item-list
          v-for="(item, index) in todo"
          :key="index"
          :props="item"
          @task_done="remove(index)"
        ></item-list>
      </ul>
    </div>
  </div>

  <!-- <div class="main">
    <div class="main-element main-element-one"></div>
    <div class="main-element main-element-two"></div>
  </div> -->


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.js"></script>
</body>

</html>